.imageGlassContainer {
  position: relative;
  z-index: 2;
  padding: 1rem 2rem;
  color: #fcfcfc;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.imageHeaderContainer {
  border: 1px red solid;
  width: 30%;
  padding: 0.2rem 0.5rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
