* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: popLight;
  src: url(./assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: popRegular;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: popSemi;
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: popBold;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
